---
layout: default
---

<article>
  <header class="mb-8">
    <h1 class="text-3xl font-bold">{{ page.title | escape }}</h1>
    <p class="text-primary-500 mt-2">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </p>
  </header>

  <div class="prose prose-primary">{{ content }}</div>

  <div class="mt-8 pt-4 border-t border-primary-200">
    <a
      href="{{ '/' | relative_url }}"
      class="text-primary-600 hover:text-primary-800"
    >
      ← Back to all posts
    </a>
  </div>
</article>
<script
  src="https://giscus.app/client.js"
  data-repo="iancam/observant-comments"
  data-repo-id="R_kgDOO5CLDA"
  data-category="Announcements"
  data-category-id="DIC_kwDOO5CLDM4CrR5o"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
